name: Solar System Workflow

on:
    workflow_dispatch:
    push:
        branches:
            - main

env:
  MONGO_URI: 'mongodb+srv://supercluster.d83jj.mongodb.net/superData'
  MONGO_USERNAME: ${{ vars.MONGO_USERNAME }}
  MONGO_PASSWORD: ${{ secrets.MONGO_PASSWORD }}
  
jobs:
    unit-testing:
        name: Unit Testing
        runs-on: ubuntu-latest
        steps:
            - name: checkout repository
              uses: actions/checkout@v4
            
            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                node-version: 18
            
            - name: Install Dependencies
              run: npm install

            - name: Run Unit Tests
              run: npm test

            - name: Archive Test Results
              uses: actions/upload-artifact@v4
              with:
                name: Mocha-Test-Result
                path: test-results.xml
                retention-days: 5

    code-coverage:
        name: Code Coverage
        runs-on: ubuntu-latest
        steps:
            - name: checkout repository
              uses: actions/checkout@v4
            
            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                node-version: 18
            
            - name: Install Dependencies
              run: npm install

            - name: Check Code Coverage
              continue-on-error: true
              run: npm run coverage

            - name: Archive Coverage Report
              uses: actions/upload-artifact@v4
              with:
                name: Code-Coverage-Result
                path: coverage
                retention-days: 5

    # containerization:
    #     name: Containerization
    #     needs: [unit-testing, code-coverage]
    #     runs-on: ubuntu-latest

    #     steps:
    #         - name: Checkout Repository
    #           uses: actions/checkout@v4

    #         - name: Log in to Docker BHub
    #           uses: docker/login-action@v3
    #           with:
    #             username: ${{vars.DOCKERHUB_USERNAME}}
    #             password: ${{ secrets.DOCKERHUB_PASSWORD}}

    #         - name: Build Docker Image
    #           run: |
    #             docker build -t an2an7d/actions_ci_pipeline:${{github.sha}} .

    #         - name: Push Docker Image
    #           run: |
    #             docker push an2an7d/actions_ci_pipeline:${{github.sha}}
    dev_deploy:
        name: Deploy to kubernetes
        runs-on: ubuntu-latest
        steps:
        - name: Checkout Repo
          uses: actions/checkout@v4

        - name: Install kubectl CLI
          uses: azure/setup-kubectl@v3
          with:
            version: 'v1.26.0'

        - name: Configure kubeconfig context
          uses: azure/k8s-set-context@v3
          with:
            method: kubeconfig
            kubeconfig: ${{ secrets.KUBECONFIG }}

        - name: Fetch Kubernetes Cluster Details
          run: |
            kubectl version --short
            echo "------------------------------------------"
            kubectl get nodes

        - name: Save Nginx Ingress IP
          id: ingress
          run: |
            echo "INGRESS_IP=$(kubectl -n ingress-nginx get svc ingress-nginx-controller \
              -o jsonpath='{.status.loadBalancer.ingress[0].ip}')" >> $GITHUB_ENV

        - name: Replace tokens in manifests
          uses: cschleiden/replace-tokens@v1
          with:
            tokenPrefix: '{_'
            tokenSuffix: '_}'
            files: kubernetes/development/*.yaml
          env:
            NAMESPACE: ${{ vars.NAMESPACE }}
            REPLICAS: ${{ vars.REPLICAS }}
            # IMAGE: ${{ vars.DOCKERHUB_USERNAME }}/solar-system:${{ github.sha }}
            INGRESS_IP: ${{ env.INGRESS_IP }}

        - name: Verify replaced manifests
          run: cat kubernetes/development/*.yaml

        - name: Create MongoDB Secret
          run: |
            kubectl -n ${{ vars.NAMESPACE }} create secret generic mongo-db-creds \
              --from-literal=MONGO_URI=${{ env.MONGO_URI }} \
              --from-literal=MONGO_USERNAME=${{ env.MONGO_USERNAME }} \
              --from-literal=MONGO_PASSWORD=${{ secrets.MONGO_PASSWORD }} \
              --save-config \
              --dry-run=client \
              -o yaml | kubectl apply -f -

        - name: Check if deployment exists
          id: check
          run: |
            if kubectl -n ${{ vars.NAMESPACE }} get deployment solar-system >/dev/null 2>&1; then
              echo "exists=true" >> $GITHUB_ENV
            else
              echo "exists=false" >> $GITHUB_ENV
            fi

        - name: Apply Kubernetes manifests
          if: env.exists == 'false'
          run: |
            kubectl apply -f kubernetes/development/

        - name: Set App Ingress Host URL
          id: set-ingress-host-address
          run: |
            HOST=$(kubectl -n ${{ vars.NAMESPACE }} \
              get ingress -o jsonpath='{.items[0].spec.tls[0].hosts[0]}')
            echo "APP_INGRESS_URL=$HOST" >> "$GITHUB_OUTPUT"

        outputs:
          APP_INGRESS_URL: ${{ steps.set-ingress-host-address.outputs.APP_INGRESS_URL }}